
body  {
	background-image: url("estufa.jpg");
	background-size: cover;
} 

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 240px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #00b3b3; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	opacity: 0.90;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: #004d4d;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #4dffff;
}

/* Style page content */
.main {
	margin-left: 240px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

.toggle {
	margin-bottom: 20px;
}

.toggle > input {
	display: none;
}

.toggle > label {
	position: relative;
	display: block;
	height: 30px;
	width: 54px;
	background-color: #f7f7f7;
	border: 1px #a2e3e6 solid;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.6s ease;
}

.toggle > label:after {
	position: absolute;
	left: 1px;
	top: 1px;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 100px;
	background: #fff;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
	content: '';
	transition: all 0.6s ease;
}

.toggle > label:active:after {
	transform: scale(1.15, 0.85);
}
		
.toggle > input:checked ~ label {
	background-color: #4cda64;
	border-color: #4cda64;
}

.toggle > input:checked ~ label:after {
	left: 25px;
}

.toggle > input:disabled ~ label {
	background-color: #d5d5d5;
	pointer-events: none;
}

.toggle > input:disabled ~ label:after {
	background-color: rgba(255, 255, 255, 0.3);
}



